In [1]:
from sklearn.datasets import make_classification
from sklearn.utils import resample
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = make_classification(n_samples=1000, n_features=10,n_classes=2, weights=[0.8, 0.2])

In [3]:
data

(array([[ 1.84411461,  0.7322454 ,  0.82668983, ...,  1.93223543,
          2.04345223,  0.19076451],
        [ 0.54726753,  0.15626155, -1.07681417, ...,  0.12608313,
         -0.20729911,  0.58665413],
        [ 0.62847639, -1.23558287, -2.00059626, ...,  0.2943418 ,
          2.99557055,  0.51800231],
        ...,
        [-0.06226901,  1.5669385 , -0.8702413 , ...,  2.07140818,
          0.840186  , -0.96497837],
        [ 0.57367617,  0.91415817,  1.00227191, ..., -2.85112101,
          0.0888417 ,  0.47734636],
        [-0.38699165, -1.90251499,  0.90419395, ...,  1.44263889,
          1.65765436,  0.19877802]]),
 array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
        1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 1, 0]))

In [4]:
X = data[0]
y = data[1]

In [5]:
df = pd.DataFrame(X, columns=["col_{}".format(i) for i in range(len(X[0]))])

In [6]:
df["target"] = y

In [7]:
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,target
0,1.844115,0.732245,0.826690,-0.528188,-1.910527,-0.174053,-1.764953,1.932235,2.043452,0.190765,0
1,0.547268,0.156262,-1.076814,-0.108264,-0.615737,-0.306761,-0.505970,0.126083,-0.207299,0.586654,0
2,0.628476,-1.235583,-2.000596,-1.680360,0.857837,2.093967,-1.152488,0.294342,2.995571,0.518002,0
3,0.560476,2.569793,-0.063192,-1.464882,0.731163,1.366768,-1.015427,0.706007,-0.494318,-1.520863,0
4,1.062871,-1.073693,1.778191,-0.795706,-0.607053,-0.339870,-1.197663,0.845971,0.291354,-0.170609,0

In [9]:
inp = input("Enter Name : ")
name = "My Name is {}".format(inp)

Enter Name : Mihir

In [10]:
name

'My Name is Mihir'

In [11]:
# Down-Sampling --> Deleting rows from big class
# Data become less

# Up-Sampling --> Duplicating rows from small class
# Data become double

In [13]:
zero = df[df["target"]==0]
one = df[df["target"]==1]

In [14]:
down = resample(zero, replace=False, n_samples=len(one))

In [15]:
down

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,target
287,0.404041,0.490874,-0.195250,-1.500075,0.973688,0.753395,-0.895086,1.823150,-0.583104,1.103629,0
541,0.120988,-1.401351,1.574681,-2.437726,2.291492,-0.391714,-0.998299,-0.212900,0.984592,-1.068399,0
377,0.696036,-0.485426,0.610232,-0.068625,-0.852584,-0.674983,-0.618148,0.812081,0.243034,-1.069738,0
915,1.242650,-0.219037,-0.487033,-0.609350,-1.032518,-1.169624,-1.282378,-1.542631,1.846868,0.453861,0
57,-0.016626,0.751472,-0.986620,-1.886996,1.919818,-0.822561,-0.678817,0.791686,-2.344820,-1.443508,0
...,...,...,...,...,...,...,...,...,...,...,...
111,-0.155167,1.666923,0.317518,-1.975776,2.192545,-0.090500,-0.593399,0.626147,0.417607,0.952129,0
767,0.220007,1.653756,-1.546819,-1.938057,1.657853,0.742485,-0.899153,1.194367,-1.238701,-0.052164,0
136,1.745182,0.979621,-0.873631,-0.115261,-2.194826,-0.047009,-1.529030,-1.250173,-0.739976,0.122503,0
462,0.328453,-0.467940,-0.201793,-1.978198,1.554634,-1.262022,-1.006279,0.955288,0.038172,1.335180,0
804,0.536815,0.113890,-0.391962,-1.275585,0.572110,-0.895391,-0.925752,1.502517,-0.781265,-0.563863,0

In [18]:
down_data = pd.concat([one, down], axis=0)

In [19]:
down_data

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,target
8,-2.405104,-0.836829,-0.312547,0.392804,2.789477,-0.584756,2.193135,-1.931197,-1.085681,-1.356875,1
9,-1.557389,1.192021,-1.095017,0.358306,1.701736,-0.640535,1.458307,0.709801,1.277688,0.899921,1
10,-1.835511,0.070603,-1.497165,1.917751,0.501613,-1.522866,2.267927,-0.269533,0.157027,-0.882293,1
17,-1.120294,0.546421,-0.212256,0.374231,1.106976,0.085564,1.091799,-0.160356,0.564311,-0.170795,1
22,-0.641735,0.015374,1.652097,1.172199,-0.329210,-1.694144,0.977166,-0.466773,-0.756819,1.406576,1
...,...,...,...,...,...,...,...,...,...,...,...
111,-0.155167,1.666923,0.317518,-1.975776,2.192545,-0.090500,-0.593399,0.626147,0.417607,0.952129,0
767,0.220007,1.653756,-1.546819,-1.938057,1.657853,0.742485,-0.899153,1.194367,-1.238701,-0.052164,0
136,1.745182,0.979621,-0.873631,-0.115261,-2.194826,-0.047009,-1.529030,-1.250173,-0.739976,0.122503,0
462,0.328453,-0.467940,-0.201793,-1.978198,1.554634,-1.262022,-1.006279,0.955288,0.038172,1.335180,0
804,0.536815,0.113890,-0.391962,-1.275585,0.572110,-0.895391,-0.925752,1.502517,-0.781265,-0.563863,0

In [20]:
up = resample(one, replace=True, n_samples=len(zero))

In [21]:
up

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,target
871,-1.499956,-0.559340,2.040256,2.040122,-0.065759,-0.810798,2.027011,0.453596,-1.101718,-0.252883,1
315,-1.003363,0.182699,-1.409997,0.345045,0.981503,0.587614,0.981469,0.545232,0.078971,-0.142314,1
649,-0.411055,-0.969043,-1.416077,1.322060,-0.785367,-2.413470,0.835686,-0.401970,0.201817,0.787087,1
582,-0.024267,-0.292208,-0.164136,-1.960332,2.003693,0.151783,-0.699240,-1.489132,0.112503,0.527205,1
792,-0.161036,0.266572,-0.100505,0.309984,-0.098536,-0.063301,0.251023,0.840087,1.136247,0.206317,1
...,...,...,...,...,...,...,...,...,...,...,...
459,-0.990290,0.618830,0.891718,2.187696,-0.889012,0.893466,1.647027,-0.335199,0.043650,0.992297,1
602,1.231803,-0.238314,-0.990669,1.230204,-2.868246,-0.967895,-0.597579,1.163695,-0.999782,1.245390,1
130,-0.102358,-0.637132,-0.926083,1.522539,-1.395731,0.312789,0.646335,0.606455,1.427029,0.618209,1
914,0.072500,-0.002056,-0.661300,0.293487,-0.391163,-1.317522,0.046018,-0.199468,-0.322572,-1.522959,1
335,-2.361804,-0.359201,1.124840,0.285783,2.839778,0.205928,2.116946,0.318269,0.221174,0.753543,1

In [23]:
up_data = pd.concat([zero, up], axis=0)

In [24]:
up_data

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,target
0,1.844115,0.732245,0.826690,-0.528188,-1.910527,-0.174053,-1.764953,1.932235,2.043452,0.190765,0
1,0.547268,0.156262,-1.076814,-0.108264,-0.615737,-0.306761,-0.505970,0.126083,-0.207299,0.586654,0
2,0.628476,-1.235583,-2.000596,-1.680360,0.857837,2.093967,-1.152488,0.294342,2.995571,0.518002,0
3,0.560476,2.569793,-0.063192,-1.464882,0.731163,1.366768,-1.015427,0.706007,-0.494318,-1.520863,0
4,1.062871,-1.073693,1.778191,-0.795706,-0.607053,-0.339870,-1.197663,0.845971,0.291354,-0.170609,0
...,...,...,...,...,...,...,...,...,...,...,...
459,-0.990290,0.618830,0.891718,2.187696,-0.889012,0.893466,1.647027,-0.335199,0.043650,0.992297,1
602,1.231803,-0.238314,-0.990669,1.230204,-2.868246,-0.967895,-0.597579,1.163695,-0.999782,1.245390,1
130,-0.102358,-0.637132,-0.926083,1.522539,-1.395731,0.312789,0.646335,0.606455,1.427029,0.618209,1
914,0.072500,-0.002056,-0.661300,0.293487,-0.391163,-1.317522,0.046018,-0.199468,-0.322572,-1.522959,1
335,-2.361804,-0.359201,1.124840,0.285783,2.839778,0.205928,2.116946,0.318269,0.221174,0.753543,1